    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-xbox"></i>
          </div>
          <div class="sidebar-brand-text mx-3">storeAPP</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" routerLink = "" >
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Facturacion</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Operaciones
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link" routerLink = "clientes"  >
            <i class="fas fa-fw fa-user-tag"></i>
            <span>Clientes</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

          </div>
        </li>
  
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link" routerLink = "productos">
            <i class="fas fa-fw fa-gamepad"></i>
            <span>Productos</span>
          </a>
 
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link" routerLink = "verFacturas">
            <i class="fas fa-fw fa-gamepad"></i>
            <span>Ver Facturas</span>
          </a>
 
        </li>
      </ul>
      <!-- End of Sidebar -->